<a href="https://colab.research.google.com/github/KdrDrn-C8301Sam/01-DAwPy-NumPy/blob/main/01_01_Preparing_The_Data_For_Analysis(Student_C8301_Sam).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style='text-align: center;'>Traffic Police Stops<br>Part - 1</p><h1> - Preparing The Data For Analysis <img src='https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki' class='img-fluid' alt='CLRSWY' width='200' height='100'>

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import related libraries with their alias.
*   Read the file RI_cleaned.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Examine the last 5 rows of the ``DataFrame`` (known as the ``"tail"``).
*   Examine the ``DataFrame``'s ``"columns"``.
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
pd.set_option('display.max_columns', None)

**Since the dataset has 509681 rows, you can work with the first 50000 rows if you wish.**

In [3]:
ri = pd.read_csv("RI_cleaned.csv", nrows=50000, low_memory=False)

In [4]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     50000 non-null  object
 1   state                  50000 non-null  object
 2   stop_date              50000 non-null  object
 3   stop_time              50000 non-null  object
 4   location_raw           50000 non-null  object
 5   county_name            0 non-null      float64
 6   county_fips            0 non-null      float64
 7   fine_grained_location  0 non-null      float64
 8   police_department      50000 non-null  object
 9   driver_gender          48010 non-null  object
 10  driver_age_raw         48029 non-null  float64
 11  driver_age             47792 non-null  float64
 12  driver_race_raw        48012 non-null  object
 13  driver_race            48012 non-null  object
 14  violation_raw          48012 non-null  object
 15  violation              48012 non-null  object
 16  search_conducted       50000 non-null  bool
 17  search_type_raw        2012 non-null   object
 18  search_type            2012 non-null   object
 19  contraband_found       50000 non-null  bool
 20  stop_outcome           48012 non-null  object
 21  is_arrested            48012 non-null  object
 22  stop_duration          48012 non-null  object
 23  out_of_state           47797 non-null  object
 24  drugs_related_stop     50000 non-null  bool
 25  district               50000 non-null  object
dtypes: bool(3), float64(5), object(18)
memory usage: 8.9+ MB

In [5]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [6]:
ri.tail(5)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
49995,RI-2006-35917,RI,2006-08-08,22:45,Zone K3,NaN,NaN,NaN,300,M,1973.0,33.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
49996,RI-2006-35918,RI,2006-08-08,22:45,Zone K3,NaN,NaN,NaN,300,F,1971.0,35.0,B,Black,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
49997,RI-2006-35919,RI,2006-08-08,22:53,Zone X4,NaN,NaN,NaN,500,M,1952.0,54.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone X4
49998,RI-2006-35920,RI,2006-08-08,23:00,Zone K1,NaN,NaN,NaN,600,F,1982.0,24.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
49999,RI-2006-35921,RI,2006-08-08,23:00,Zone K3,NaN,NaN,NaN,300,M,1965.0,41.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K3

In [7]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

In [8]:
ri["search_type"].value_counts()

Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Inventory,Probable Cause                                     16
Protective Frisk,Reasonable Suspicion                        16
Probable Cause,Reasonable Suspicion                          12
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Incident to Arrest,Reasonable Suspicion                       5
Inventory,Probable Cause,Protective Frisk                     2
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Name: search_type, dtype: int64

In [9]:
ri["search_type_raw"].value_counts()

Incident to Arrest                                               958
Terry Frisk                                                      204
Probable Cause                                                   120
Inventory/Tow                                                    117
Incident to Arrest,Inventory/Tow                                 116
Odor of Drugs/Alcohol                                             68
Incident to Arrest,Terry Frisk                                    63
Reasonable Suspicion                                              43
Incident to Arrest,Inventory/Tow,Terry Frisk                      33
Plain View                                                        30
Inventory/Tow,Terry Frisk                                         23
Incident to Arrest,Probable Cause                                 20
Probable Cause,Terry Frisk                                        20
Incident to Arrest,Odor of Drugs/Alcohol,Probable Cause           20
Incident to Arrest,Odor of Drugs/Alcohol                          17
Odor of Drugs/Alcohol,Probable Cause                              16
Reasonable Suspicion,Terry Frisk                                  16
Incident to Arrest,Probable Cause,Terry Frisk                     13
Odor of Drugs/Alcohol,Terry Frisk                                 10
Incident to Arrest,Plain View                                      9
Incident to Arrest,Inventory/Tow,Odor of Drugs/Alcohol             8
Incident to Arrest,Inventory/Tow,Probable Cause                    8
Inventory/Tow,Probable Cause                                       7
Odor of Drugs/Alcohol,Reasonable Suspicion                         6
Incident to Arrest,Odor of Drugs/Alcohol,Terry Frisk               6
Incident to Arrest,Odor of Drugs/Alcohol,Plain View                5
Incident to Arrest,Reasonable Suspicion                            5
Odor of Drugs/Alcohol,Probable Cause,Terry Frisk                   5
Odor of Drugs/Alcohol,Plain View,Probable Cause                    5
Incident to Arrest,Plain View,Probable Cause                       5
Probable Cause,Reasonable Suspicion                                4
Inventory/Tow,Odor of Drugs/Alcohol                                3
Odor of Drugs/Alcohol,Plain View                                   3
Incident to Arrest,Inventory/Tow,Plain View                        3
Inventory/Tow,Odor of Drugs/Alcohol,Plain View                     3
Inventory/Tow,Plain View,Probable Cause                            2
Inventory/Tow,Probable Cause,Terry Frisk                           2
Odor of Drugs/Alcohol,Reasonable Suspicion,Terry Frisk             2
Probable Cause,Reasonable Suspicion,Terry Frisk                    2
Plain View,Probable Cause                                          2
Odor of Drugs/Alcohol,Plain View,Terry Frisk                       1
Odor of Drugs/Alcohol,Probable Cause,Reasonable Suspicion          1
Inventory/Tow,Odor of Drugs/Alcohol,Probable Cause                 1
Plain View,Reasonable Suspicion,Terry Frisk                        1
Odor of Drugs/Alcohol,Plain View,Reasonable Suspicion              1
Incident to Arrest,Plain View,Terry Frisk                          1
Inventory/Tow,Reasonable Suspicion                                 1
Incident to Arrest,Inventory/Tow,Reasonable Suspicion              1
Incident to Arrest,Odor of Drugs/Alcohol,Reasonable Suspicion      1
Incident to Arrest,Reasonable Suspicion,Terry Frisk                1
Name: search_type_raw, dtype: int64

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [10]:
ri.shape

(50000, 26)

In [11]:
# We can drop these columns: county_name, county_fips, fine_grained_location, search_type_raw, search_type, state  
ri.drop(columns=["county_name", "county_fips","fine_grained_location", "search_type_raw", "search_type", "state"], inplace=True)

In [12]:
ri.shape

(50000, 20)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [13]:
ri.isnull().sum()

id                       0
stop_date                0
stop_time                0
location_raw             0
police_department        0
driver_gender         1990
driver_age_raw        1971
driver_age            2208
driver_race_raw       1988
driver_race           1988
violation_raw         1988
violation             1988
search_conducted         0
contraband_found         0
stop_outcome          1988
is_arrested           1988
stop_duration         1988
out_of_state          2203
drugs_related_stop       0
district                 0
dtype: int64

In [14]:
ri.dropna(subset=["driver_gender"], inplace=True)

In [15]:
ri.shape

(48010, 20)

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the values of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [16]:
ri["is_arrested"].value_counts()

False    45522
True      2488
Name: is_arrested, dtype: int64

In [17]:
ri["is_arrested"].dtype

dtype('O')

In [18]:
ri["is_arrested"] = ri["is_arrested"].astype("bool")

In [19]:
ri["is_arrested"].dtype

dtype('bool')

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Get the first row of the data frame and see the dtypes of ``stop_date`` and ``stop_time`` columns.
*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Drop ``stop_date`` and ``stop_time`` columns from dataframe and check after dropping by getting first row.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [20]:
ri.head(1)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1

In [21]:
ri["stop_date"].dtype

dtype('O')

In [22]:
ri["stop_time"].dtype

dtype('O')

In [23]:
ri["combined"] = ri["stop_date"] + " " +  ri["stop_time"]

In [24]:
ri["stop_datetime"] = pd.to_datetime(ri["combined"])

In [25]:
ri.drop(columns=["stop_date", "stop_time"], inplace=True)

In [26]:
ri["stop_datetime"].dtype

dtype('<M8[ns]')

***

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   First check out the shape of the dataframe.
*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Check again the shape of the dataframe to confirm that ``stop_datetime`` is no longer one of the columns. 
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [27]:
ri.shape

(48010, 20)

In [28]:
ri.set_index(["stop_datetime"], inplace=True)

In [29]:
ri.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined
stop_datetime,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30
2005-01-12 08:05:00,RI-2005-00006,Zone X1,000,M,1973.0,32.0,B,Black,Call for Service,Other,False,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05

In [30]:
ri.shape

(48010, 19)

In [31]:
ri.index

DatetimeIndex(['2005-01-02 01:55:00', '2005-01-02 20:30:00',
               '2005-01-04 12:55:00', '2005-01-06 01:30:00',
               '2005-01-12 08:05:00', '2005-01-18 08:15:00',
               '2005-01-18 17:13:00', '2005-01-23 23:15:00',
               '2005-01-24 20:32:00', '2005-02-09 03:05:00',
               ...
               '2006-08-08 22:22:00', '2006-08-08 22:25:00',
               '2006-08-08 22:30:00', '2006-08-08 22:30:00',
               '2006-08-08 22:45:00', '2006-08-08 22:45:00',
               '2006-08-08 22:45:00', '2006-08-08 22:53:00',
               '2006-08-08 23:00:00', '2006-08-08 23:00:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=48010, freq=None)

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

**- Please save the edits made so far to a new csv file with the name RI_Part_1 to use it in the next step.**

**- Load and read new csv file.**

**- Check the first five rows.***

**- Check the shape of the dataframe.**

In [32]:
ri.to_csv("RI_Part_1.csv")

In [33]:
df = pd.read_csv("RI_Part_1.csv", low_memory=False, index_col=0)

In [34]:
df.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined
stop_datetime,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30
2005-01-12 08:05:00,RI-2005-00006,Zone X1,000,M,1973.0,32.0,B,Black,Call for Service,Other,False,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05