In [3]:
print("Backslash: \\")

Backslash: \

In [6]:
print(r"Backslash: \\")

Backslash: \\

In [10]:
import re
text = "A78L41K"
num = re.search("78", text)
num.group()

'78'

In [13]:
import re
text = "A78L41K"
alpha = re.match("\D\d\d", text)
alpha.group()

'A78'

In [16]:
import re
text = "O 1, t 10, o 100. 100000"
re.findall("\d{1}", text)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [17]:
re.findall("\d{2}",text)

['10', '10', '10', '00', '00']

In [18]:
re.findall("\d{3}", text)

['100', '100', '000']

In [19]:
text = "ab56cd78_de fg3hÄ±i49"
re.split("\D+", text)

['', '56', '78', '3', '49']

In [20]:
import pandas as pd
import numpy as np

In [22]:
s = pd.Series(["a3aa", "b4aa", "c5aa"])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [23]:
s.str.count("a")

0    3
1    2
2    2
dtype: int64

In [24]:
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [25]:
s.str.replace("\d", "R", regex=True)

0    aRaa
1    bRaa
2    cRaa
dtype: object

In [26]:
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [27]:
s.str.contains("b")

0    False
1     True
2    False
dtype: bool

In [28]:
s.loc[s.str.contains("b")]

1    b4aa
dtype: object

In [29]:
s = pd.Series(["a3a8a", "b4a7a", "c5a6a"])
s

0    a3a8a
1    b4a7a
2    c5a6a
dtype: object

In [30]:
s.str.findall("\d")

0    [3, 8]
1    [4, 7]
2    [5, 6]
dtype: object

In [33]:
s = pd.Series(["&a3a8a", "b4a&7a", "c5a6a"])
s

0    &a3a8a
1    b4a&7a
2     c5a6a
dtype: object

In [34]:
s.str.match("&")

0     True
1    False
2    False
dtype: bool

In [35]:
s = pd.Series(["&a3a8a", "b4a&7a", "c5a6a"])
s

0    &a3a8a
1    b4a&7a
2     c5a6a
dtype: object

In [36]:
s.str.split("&")

0    [, a3a8a]
1    [b4a, 7a]
2      [c5a6a]
dtype: object

In [43]:
s = pd.Series(["&a3a+?8a", "b4a&+^7a", "_c5a6a"])

In [42]:
s.str.extract("(\w+)")

        0
0     a3a
1     b4a
2  _c5a6a

In [1]:
import numpy as np
import pandas as pd
import re

In [7]:
pattern = re.compile("d")
pattern.search("dog")

In [10]:
pattern = re.compile("o")
pattern.match("dog", 1)

In [11]:
pattern = re.compile("og")
pattern.match("dog", 1)

In [15]:
pattern = re.compile("o[gh]")
pattern.fullmatch("dog")
pattern.fullmatch("ogre")
pattern.fullmatch("doggie", 1, 3)

In [24]:
m = re.match(r"(\w+) (\w+)", "Isaac Newton physicist")
m.group()

'Isaac Newton'

In [31]:
m[1]

'Isaac'

In [25]:
m.group(1, 2)

('Isaac', 'Newton')

In [27]:
m = re.match(r"(\w+) (\w+)", "Isaac Newton, physicist")
m[0]

'Isaac Newton'

In [28]:
m[1]

'Isaac'

In [53]:
m = re.match("(\d+)\.(\d+)", "24.1632")
m.groups()

('24', '1632')

In [54]:
m[0]

'24.1632'

In [55]:
m[1]

'24'

In [56]:
m.group()

'24.1632'

In [60]:
m = re.match("(\d+)\.?(\d+)", "24")
m.groups()

('2', '4')

In [64]:
email = "tony@tiremove_thisger.net"
m = re.search("remove_this", email)
m.group()

'remove_this'

In [68]:
m[0]

'remove_this'

In [74]:
text = """Ross McFluff: 834.345.1254 155 Elm Street
Ronald Heathmore: 892.345.3428 436 Finley Avenue
Frank Burger: 925.541.7625 662 South Dogwood Way
Heather Albrecht: 548.326.4584 919 Park Place"""
text

'Ross McFluff: 834.345.1254 155 Elm Street\nRonald Heathmore: 892.345.3428 436 Finley Avenue\nFrank Burger: 925.541.7625 662 South Dogwood Way\nHeather Albrecht: 548.326.4584 919 Park Place'

In [77]:
entries = re.split("\n", text)
entries

['Ross McFluff: 834.345.1254 155 Elm Street',
 'Ronald Heathmore: 892.345.3428 436 Finley Avenue',
 'Frank Burger: 925.541.7625 662 South Dogwood Way',
 'Heather Albrecht: 548.326.4584 919 Park Place']

In [87]:
[re.split(":?", entry, 4) for entry in entries]

[['', 'R', 'o', 's', 's McFluff: 834.345.1254 155 Elm Street'],
 ['', 'R', 'o', 'n', 'ald Heathmore: 892.345.3428 436 Finley Avenue'],
 ['', 'F', 'r', 'a', 'nk Burger: 925.541.7625 662 South Dogwood Way'],
 ['', 'H', 'e', 'a', 'ther Albrecht: 548.326.4584 919 Park Place']]

In [95]:
text = "He was carefully disguised but captured quickly by police."
re.findall("\w+ly", text)

['carefully', 'quickly']

In [93]:
text = "He was carefully disguised but captured quickly by police."
re.findall(r"\w+ly\b", text)

['carefully', 'quickly']

In [120]:
line = "Cats are smarter than dogs"
m = re.match("(.*) are (.*?) .*", line)
m.group()

'Cats are smarter than dogs'

In [117]:
m.group(1)

'Cats'

In [121]:
m.group(2)

'smarter'

In [123]:
m = re.search("(.*) are (.*?) .*", line)
m.group()

'Cats are smarter than dogs'

In [124]:
m.group(1)

'Cats'

In [125]:
m.group(2)

'smarter'

In [128]:
m = re.match(r"dogs", line)
m.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [129]:
m = re.search(r"dogs", line)
m.group()

'dogs'

In [139]:
import re
phone = "2004-959-559"
num = re.sub(r"\D", ".", phone)
num

'2004.959.559'

In [147]:
import re
txt = "The rain in Spain"

In [149]:
x = re.search("^The.*Spain$", txt)
x.group()

'The rain in Spain'

In [152]:
x = re.findall("[a-m]",txt)
x

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [154]:
x = re.findall("\d", txt)
x

[]

In [163]:
x = re.findall("(\w+)\s(\w+)", txt)
x

[('The', 'rain'), ('in', 'Spain')]

In [164]:
x[1]

('in', 'Spain')

In [167]:
x[1][1]

'Spain'

In [175]:
x[0]

('The', 'rain')

In [176]:
type(x[0])

tuple

In [183]:
txt = "hello planet heo"
x = re.findall("he..o",txt)
x

['hello']

In [189]:
txt = "hello planet"
x = re.findall("hello",txt)
x

['hello']

In [190]:
txt = "hello planet"
x = re.findall("planet$", txt)
x

['planet']

In [194]:
txt = "hello planet"
x = re.findall("^hello", txt)
x

['hello']

In [196]:
txt = "hello planet heo and hellllo"
x = re.findall("hel*o",txt)
x

['hello', 'heo', 'hellllo']

In [202]:
txt = "hello planet"
x = re.findall("he.*o", txt)
x

['hello']

In [206]:
txt = "helllo"
x = re.findall("he.+",txt)
x

['helllo']

In [211]:
txt = "hello planet"
x = re.findall("he..?o", txt)
x

['hello']

In [212]:
print(r"This is backslash: \ and a new line: \n")

This is backslash: \ and a new line: \n

In [213]:
print("This is backslash: \ and a new line: \n")

This is backslash: \ and a new line:

In [224]:
my_string = "Hello\nWorld"
print(my_string)

Hello
World

In [222]:
my_string = r"Hello\nWorld"
print(my_string)

Hello\nWorld

In [226]:
raw_str_tree = r"xyz\\"
print(raw_str_tree)

xyz\\

In [228]:
p = re.compile(r'[Ee](\+|-)?[0-9]+')
print(p)

re.compile('[Ee](\\+|-)?[0-9]+')

In [229]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [230]:
help(re.match)

Help on function match in module re:

match(pattern, string, flags=0)
    Try to apply the pattern at the start of the string, returning
    a Match object, or None if no match was found.

In [ ]:
re.search()

In [231]:
s = "Python is awesome"
re.findall("[a-z]", s)

['y', 't', 'h', 'o', 'n', 'i', 's', 'a', 'w', 'e', 's', 'o', 'm', 'e']

In [233]:
len(s)

17

In [234]:
len(re.findall("[a-z]",s))

14

In [235]:
re.findall("[a-z]", s, re.I)

['P', 'y', 't', 'h', 'o', 'n', 'i', 's', 'a', 'w', 'e', 's', 'o', 'm', 'e']

In [236]:
s = """Regex
Flags"""

In [239]:
re.findall("^\w+", s)

['Regex']

In [240]:
re.findall("\w+", s)

['Regex', 'Flags']

In [241]:
re.findall("\w+$", s)

['Flags']

In [243]:
s = """Regex
Flags"""
re.findall("^\w+", s, re.MULTILINE)

['Regex', 'Flags']

In [244]:
re.findall(".+", s)

['Regex', 'Flags']

In [245]:
re.findall(".+", s, re.DOTALL)

['Regex\nFlags']

In [249]:
s = 'ä½æ³ is Pythonic in Japanese'
re.findall(r"\b\w{2}\b",s)

['ä½æ³', 'is', 'in']

In [254]:
text = "A78L41K"
re.search("78",text)

In [256]:
text

'A78L41K'

In [278]:
re.search(("\d\d"), text)

In [270]:
comp = re.compile("\d\d")
comp.search(text)

In [275]:
comp = re.compile("\D\D")
comp.search(txt)

In [274]:
txt

'hello planet'

In [280]:
text

'A78L41K'

In [279]:
re.search(("\d\d"), text).start()

1

In [281]:
re.search(("\d\d"), text).end()

3

In [282]:
re.search(("\d\d"), text).group()

'78'

In [287]:
re.search(("\d\d"), text).span()

(1, 3)

In [288]:
text = "8PM19MIN"
re.search("\D\D",text).group()

'PM'

In [290]:
re.search("\D+", text).group()

'PM'

In [293]:
text = 'My phone number is 1234567890'
re.search("\d+", text).group()

'1234567890'

In [295]:
text = 'My phone number is 123-456-7890'
re.search("\d+-\d+-\d+", text).group()

'123-456-7890'

In [310]:
re.search("\d"*3 + "-" + "\d"*3 + "-" + "\d"*4, text).group()

'123-456-7890'

In [318]:
telno = re.search("(\d+)-(\d+)-(\d+)", text)

In [319]:
telno.group()

'123-456-7890'

In [320]:
telno.span()

(19, 31)

In [321]:
telno.start()

19

In [325]:
telno.group()

'123-456-7890'

In [327]:
telno.group(3)

'7890'

In [328]:
text = "A78L41K"
re.match("\d\d", text)

In [330]:
re.match(".\d\d", text).group()

'A78'

In [333]:
re.match("\D(\d\d)", text).group()

'A78'

In [339]:
text = "A78L41K"
re.fullmatch("\D\d+\D\d+\D", text).group()

'A78L41K'

In [341]:
text = "O 1, t 10, o 100. 100000"
re.findall("\d",text)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [343]:
re.findall("\d+", text)

['1', '10', '100', '100000']

In [345]:
re.findall("\d\d", text)

['10', '10', '10', '00', '00']

In [346]:
re.findall("\d{4}", text)

['1000']

In [348]:
re.findall("\d{1,4}", text)

['1', '10', '100', '1000', '00']

In [349]:
re.findall("\d{1,5}", text)

['1', '10', '100', '10000', '0']

In [350]:
re.findall("\d{1,6}", text)

['1', '10', '100', '100000']

In [355]:
text = "which foot or hand fell fastest f" 
re.findall("f[a-z]*", text)

['foot', 'fell', 'fastest', 'f']

In [356]:
text = "which foot or hand fell fastest f" 
re.findall("f[a-z]+", text)

['foot', 'fell', 'fastest']

In [360]:
text = 'set width=20 and height=10'

In [361]:
re.findall("\w+=\d+", text)

['width=20', 'height=10']

In [362]:
re.findall("(\w+)=(\d+)", text)

[('width', '20'), ('height', '10')]

In [368]:
text = "hello hello world"
re.findall("^hello", text)

['hello']

In [369]:
re.findall("world$", text)

['world']

In [371]:
text = "2004-959-559 # This is Phone Number"
re.sub("\D","", text)

'2004959559'

In [372]:
re.sub("\d",".",text)

'....-...-... # This is Phone Number'

In [373]:
text

'2004-959-559 # This is Phone Number'

In [378]:
pd.Series(text).str.replace("\d", "", regex=True)

0    -- # This is Phone Number
dtype: object

In [379]:
text = "ab56cd78_de fg3hÄ±i49"

In [381]:
re.split("\D+",text)

['', '56', '78', '3', '49']

In [385]:
re.split("\D+",text, maxsplit=2)

['', '56', '78_de fg3hÄ±i49']

In [386]:
re.split("\D+",text, maxsplit=3)

['', '56', '78', '3hÄ±i49']

In [387]:
re.findall("\d+", text)

['56', '78', '3', '49']

In [388]:
data = [['Evert van Dijk', 'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Every Good Gift', 'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'], 
        ['Evghenya', 'Orange-pink.  75 petals.  Large, very double #68345_686# bloom form.  Blooms in flushes throughout the season.'], 
        ['Evita', 'White or white blend.  None to mild fragrance.  35 petals #9897#.  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Evrathin', 'Light pink. [Deep pink.]  Outer petals white. Expand rarely #679754YH89#.  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.'],
        ['Evita 2', 'White, blush shading.  Mild, wild rose fragrance #AGHJS876IOP#.  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.']]
  
df = pd.DataFrame(data, columns = ['name', 'bloom']) 
df

              name                                              bloom
0   Evert van Dijk  Carmine-pink, salmon-pink streaks, stripes, fl...
1  Every Good Gift  Red.  Flowers velvety red.  #079463895689# Mod...
2         Evghenya  Orange-pink.  75 petals.  Large, very double #...
3            Evita  White or white blend.  None to mild fragrance....
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

In [390]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [391]:
df.bloom[1]

'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

In [392]:
df.bloom.dtype

dtype('O')

In [393]:
df.bloom.str.count("\d+")

0     1
1     4
2     3
3     4
4    10
5     5
Name: bloom, dtype: int64

In [394]:
df.bloom.apply(len)

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

In [395]:
df.bloom.str.count(".")

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

In [397]:
df.bloom.str.count("\.")

0     5
1     6
2     4
3     5
4    11
5     7
Name: bloom, dtype: int64

In [406]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [407]:
df.bloom = df.bloom.str.replace("#\S+#", "", regex=True)

In [410]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [411]:
df.bloom.str.count("#\S+#")

0    0
1    0
2    0
3    0
4    0
5    0
Name: bloom, dtype: int64

In [412]:
df.bloom[1]

'Red.  Flowers velvety red.   Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

In [413]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [414]:
df.bloom[2]

'Orange-pink.  75 petals.  Large, very double  bloom form.  Blooms in flushes throughout the season.'

In [416]:
df.bloom[4]

'Light pink. [Deep pink.]  Outer petals white. Expand rarely .  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.'

In [417]:
df.bloom.str.contains("diameter")

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [418]:
df.bloom.str.contains('\d+"')

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [419]:
df.loc[df.bloom.str.contains('\d+"')]

              name                                              bloom
1  Every Good Gift  Red.  Flowers velvety red.   Moderate fragranc...
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

In [420]:
df.head()

              name                                              bloom
0   Evert van Dijk  Carmine-pink, salmon-pink streaks, stripes, fl...
1  Every Good Gift  Red.  Flowers velvety red.   Moderate fragranc...
2         Evghenya  Orange-pink.  75 petals.  Large, very double  ...
3            Evita  White or white blend.  None to mild fragrance....
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...

In [421]:
df.name.str.findall("\d+")

0     []
1     []
2     []
3     []
4     []
5    [2]
Name: name, dtype: object

In [422]:
df.bloom.str.findall("\d+")

0                                []
1                       [4, 26, 40]
2                              [75]
3                      [35, 26, 40]
4    [35, 40, 2, 5, 17, 25, 26, 40]
5                   [20, 25, 1, 25]
Name: bloom, dtype: object

In [423]:
df.bloom.str.findall('\d+"|\d+\.\d+"') # GÃZEEEL

0         []
1       [4"]
2         []
3         []
4     [2.5"]
5    [1.25"]
Name: bloom, dtype: object

In [428]:
df.bloom.str.findall('\d+"|\d+\.\d+"')

0         []
1       [4"]
2         []
3         []
4     [2.5"]
5    [1.25"]
Name: bloom, dtype: object

In [429]:
df.bloom

0    Carmine-pink, salmon-pink streaks, stripes, fl...
1    Red.  Flowers velvety red.   Moderate fragranc...
2    Orange-pink.  75 petals.  Large, very double  ...
3    White or white blend.  None to mild fragrance....
4    Light pink. [Deep pink.]  Outer petals white. ...
5    White, blush shading.  Mild, wild rose fragran...
Name: bloom, dtype: object

In [430]:
df.bloom.str.match("pink|\w+-pink|\w+ pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [432]:
df.loc[df.bloom.str.match("pink|\w+-pink|\w+ pink"), ["bloom"]]

                                               bloom
0  Carmine-pink, salmon-pink streaks, stripes, fl...
2  Orange-pink.  75 petals.  Large, very double  ...
4  Light pink. [Deep pink.]  Outer petals white. ...

In [433]:
df.bloom.str.match("pink|\w+[- ]?pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [434]:
df.loc[df.bloom.str.match("pink|\w+[- ]?pink"), ["bloom"]]

                                               bloom
0  Carmine-pink, salmon-pink streaks, stripes, fl...
2  Orange-pink.  75 petals.  Large, very double  ...
4  Light pink. [Deep pink.]  Outer petals white. ...

In [435]:
df.bloom.str.match(".+pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [436]:
df.loc[df.bloom.str.match(".+pink"),["bloom"]]

                                               bloom
0  Carmine-pink, salmon-pink streaks, stripes, fl...
2  Orange-pink.  75 petals.  Large, very double  ...
4  Light pink. [Deep pink.]  Outer petals white. ...

In [437]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [438]:
df.bloom.str.split("\.")

0    [Carmine-pink, salmon-pink streaks, stripes, f...
1    [Red,   Flowers velvety red,    Moderate fragr...
2    [Orange-pink,   75 petals,   Large, very doubl...
3    [White or white blend,   None to mild fragranc...
4    [Light pink,  [Deep pink, ]  Outer petals whit...
5    [White, blush shading,   Mild, wild rose fragr...
Name: bloom, dtype: object

In [439]:
df.bloom.str.split("\.")[0]

['Carmine-pink, salmon-pink streaks, stripes, flecks',
 '  Warm pink, clear carmine pink, rose pink shaded salmon',
 '  Mild fragrance',
 '  Large, very double, in small clusters, high-centered bloom form',
 '  Blooms in flushes throughout the season',
 '']

In [440]:
df.bloom.str.split("\.", expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11
0,"Carmine-pink, salmon-pink streaks, stripes, fl...","Warm pink, clear carmine pink, rose pink sha...",Mild fragrance,"Large, very double, in small clusters, high-...",Blooms in flushes throughout the season,,None,None,None,None,None,None
1,Red,Flowers velvety red,Moderate fragrance,"Average diameter 4""","Medium-large, full (26-40 petals), borne mos...",Blooms in flushes throughout the season,,None,None,None,None,None
2,Orange-pink,75 petals,"Large, very double bloom form",Blooms in flushes throughout the season,,None,None,None,None,None,None,None
3,White or white blend,None to mild fragrance,35 petals,"Large, full (26-40 petals), high-centered bl...",Blooms in flushes throughout the season,,None,None,None,None,None,None
4,Light pink,[Deep pink,] Outer petals white,Expand rarely,Mild fragrance,35 to 40 petals,Average diameter 2,"5""","Medium, double (17-25 petals), full (26-40 p...","Prolific, once-blooming spring or summer","Glandular sepals, leafy sepals, long sepals ...",
5,"White, blush shading","Mild, wild rose fragrance",20 to 25 petals,Average diameter 1,"25""","Small, very double, cluster-flowered bloom form",Blooms in flushes throughout the season,,None,None,None,None

In [441]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

In [456]:
df = s.str.split("\D+", expand=True).iloc[:,1:]
df

     1   2     3
0  345  25  1200
1  346  32  1500
2  347  28  1400

In [457]:
df.columns = ["id", "age", "salary"]
df

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [3]:
s.str.extract("(\d+)")

   0
0  3
1  4
2  5

In [4]:
s.str.extract("(\D)\d(\D+)")

   0   1
0  a  aa
1  b  aa
2  c  aa

In [5]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

In [7]:
df = s.str.extract("(\d+)\D+(\d+)\D+(\d+)")
df

     0   1     2
0  345  25  1200
1  346  32  1500
2  347  28  1400

In [8]:
df.columns = ["id", "age", "salary"]
df

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

In [9]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [25]:
s.str.extract("(\d+|\d+\.\d+)")

     0
0   40
1   38
2    6
3    8
4    5
5    5
6    6
7    6
8    7
9    6
10   5
11   6
12   6
13   7
14   7
15   3
16   0
17   7

In [26]:
s.str.extract("(\d+\.\d+|\d+)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [27]:
s.str.extract("(\d*\.?\d*)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [29]:
s.str.extract("(\S+)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [30]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [38]:
s.str.extract("(\S+)\D+(\d+)")

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [39]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [40]:
s.str.extract("(\d+)/(\d+)")

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [41]:
df = s.str.extract("(\d+)/(\d+)")
df

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [42]:
df.columns = ["month", "year"]
df

   month  year
0     06  2020
1     11  2020
2     10  2019
3     05  2022
4     07  2019
5     06  2022
6     01  2022
7     11  2020
8     04  2019
9     08  2020
10    04  2022

In [43]:
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [45]:
s.str.extract("(.+)\n\n(\d+|\d.\d)")

          0    1
0   06/2020    4
1   11/2020  166
2   10/2019    5
3   05/2022    6
4   07/2019  128
5   06/2022  112
6   01/2022    5
7   11/2020  106
8   04/2019  105
9   08/2020  133
10  04/2022  133

In [47]:
s.str.extract("(.+)\n\n(\d+.\d+|\d+)")

          0    1
0   06/2020  4.9
1   11/2020  166
2   10/2019  5.3
3   05/2022  6.3
4   07/2019  128
5   06/2022  112
6   01/2022  5.8
7   11/2020  106
8   04/2019  105
9   08/2020  133
10  04/2022  133

In [48]:
s = pd.Series(['\n\n4.9 06/2020 l/100 km (comb)',
'\n\n166 11/2020 g CO2/km (comb)',                                 
'\n\n5.3 10/2019 l/100 km (comb)',
'\n\n6.3 05/2022 l/100 km (comb)',
'\n\n128 07/2019 g CO2/km (comb)',
'\n\n112 06/2022 g CO2/km (comb)',                                                 
'\n\n5.8 01/2022 l/100 km (comb)'])
s

0    \n\n4.9 06/2020 l/100 km (comb)
1    \n\n166 11/2020 g CO2/km (comb)
2    \n\n5.3 10/2019 l/100 km (comb)
3    \n\n6.3 05/2022 l/100 km (comb)
4    \n\n128 07/2019 g CO2/km (comb)
5    \n\n112 06/2022 g CO2/km (comb)
6    \n\n5.8 01/2022 l/100 km (comb)
dtype: object

In [49]:
s.str.extract("(\d+|\d+.\d+)")

     0
0    4
1  166
2    5
3    6
4  128
5  112
6    5

In [67]:
s.str.extract("(\d+.\d+|\d+)\s(\d+\D\d+)")

     0        1
0  4.9  06/2020
1  166  11/2020
2  5.3  10/2019
3  6.3  05/2022
4  128  07/2019
5  112  06/2022
6  5.8  01/2022

In [68]:
import webbrowser
webbrowser.open_new("https://regex101.com/")

True