In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [322]:
df = pd.read_csv("sales_082020.csv")

In [323]:
df2 = pd.read_csv("currency_rates_082020_EUR.csv")

In [125]:
df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [129]:
df2.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [130]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [324]:
df2["date"] = pd.to_datetime(df2["date"])

In [386]:
df2["date"].dtype

dtype('<M8[ns]')

In [325]:
df["date"] = pd.to_datetime(df["date"])

In [388]:
df["date"].dtype

dtype('<M8[ns]')

In [326]:
df3 = pd.merge(df, df2, on=['currency','date'])

In [137]:
df3.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [138]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237671 entries, 0 to 237670
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
 10  rate            237671 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 21.8+ MB

In [332]:
df3["new_price"] = df3["price"] / df3["rate"]

In [183]:
df3.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,new_price
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

##### 1. Which country made the highest percentage of purchases?

In [363]:
# GB-55.3%
df3.groupby("buyer_country")["new_price"].sum() / df3["new_price"].sum() * 100

buyer_country
AU      3.395831
CA      1.028593
DE      0.393954
FR      0.283688
GB     55.300687
IE      1.785838
IT      2.537846
RoW     2.383713
US     32.889849
Name: new_price, dtype: float64

##### 2. Which day has the highest value of purchases?

In [385]:
# 2020-08-03
df3.groupby("date")["new_price"].sum().sort_values(ascending=False)

date
2020-08-03    1.005281e+06
2020-08-08    9.895082e+05
2020-08-07    9.661487e+05
2020-08-09    9.467022e+05
2020-08-04    9.351293e+05
2020-08-06    8.582236e+05
2020-08-05    7.705182e+05
Name: new_price, dtype: float64

##### 3. Which category has 2,324 transactions on 7 August?

In [379]:
# Jewellery
df3[df3["date"] == "2020-08-07"]["category"].value_counts()

Tops - Womens        6798
Tops - Mens          4835
Bottoms - Womens     4571
Shoes                3292
Accessories          3090
Dresses              3079
Jewellery            2324
Beauty               1297
Other                1014
Outerwear             917
Bottoms - Mens        826
Lingerie              788
Outerwear - Mens      552
Tech                  539
Home                  514
Music                 336
Art                   333
Kids                  317
Books & magazines     154
Film                   64
Sports equipment       63
Underwear              24
Transportation         16
UNSPECIFIED             1
Name: category, dtype: int64

##### 4. What percentage of global sales value on 4 August came from US sellers?

In [382]:
#33.27%
global_sale = df3[df3["date"] == "2020-08-04"]["new_price"].sum()
usa_sale = df3[(df3["date"] == "2020-08-04") & (df3["seller_country"] == "US")]["new_price"].sum()
usa_sale / global_sale * 100

33.27165931227377

##### 5. How many sellers in US has more than 75 sales?

In [366]:
#22
nn = df3[(df3["seller_country"] == "US")]["seller_id"].value_counts().to_frame().reset_index()
nn[nn["seller_id"] > 75].count()

index        22
seller_id    22
dtype: int64

#####  6. Which seller in the US sold the most in terms of value?

In [364]:
#pzsiehl0 --- 20558.87
df3[df3["seller_country"] == "US"].groupby("seller_id")["new_price"].sum().sort_values(ascending=False)

seller_id
pzsiehl0    20558.868517
wd3rgi3q     9005.918599
ys8t8gfo     5071.183152
k4cbl88u     4913.328483
j21w87xy     4728.388678
                ...
2ylrpzdc        0.890748
zwmoawx5        0.888742
lm7s1mb8        0.888742
q30kdgu9        0.888742
vgpfz2la        0.888742
Name: new_price, Length: 34119, dtype: float64

##### 7. Which brand had the largest absolute â‚¬ difference in average transaction value between domestic and international?

In [373]:
# Goyard - 408.8
dd = df3[df3["buyer_country"] == df3["seller_country"]].groupby("brand")["new_price"].mean()
gg = df3[df3["buyer_country"] != df3["seller_country"]].groupby("brand")["new_price"].mean()
abs(dd-gg).sort_values(ascending=False)

brand
Goyard          408.794985
Loewe           379.657343
Hermes          210.700192
Canada Goose    210.228801
Needles         198.880051
                   ...
francesca's            NaN
kensie                 NaN
liquid blue            NaN
mixxmix                NaN
philosophy             NaN
Name: new_price, Length: 1134, dtype: float64