# Independent Samples T Test

## Arsenic Example

- Arsenic concentration in public drinking water supplies is a potential health risk. 
- An article in the Arizona Republic (May 27, 2001) reported drinking water arsenic concentrations in parts per billion (ppb) for 10 metropolitan Phoenix communities and 10 communities in rural Arizona.
- You can find the data in CSV file.

In [1]:
import pandas as pd
import scipy.stats as stats

In [3]:
df = pd.read_csv("arsenic.csv")
df

     Metro Phoenix  x1      Rural Arizona  x2
0          Phoenix   3            Rimrock  48
1         Chandler   7           Goodyear  44
2          Gilbert  25          New River  40
3         Glendale  10    Apache Junction  38
4             Mesa  15            Buckeye  33
5  Paradise Valley   6            Nogales  21
6           Peoria  12  Black Canyon City  20
7       Scottsdale  25             Sedona  12
8            Tempe  15             Payson   1
9         Sun City   7        Casa Grande  18

In [4]:
df["x1"].mean()

12.5

In [5]:
df["x2"].mean()

27.5

In [12]:
indTest = stats.ttest_ind(df["x1"], df["x2"], equal_var=True, alternative='two-sided')
indTest

Ttest_indResult(statistic=-2.7669395785560553, pvalue=0.012704425122128032)

In [13]:
indTest.statistic

-2.7669395785560553

In [14]:
indTest.pvalue

0.012704425122128032

In [15]:
alpha = 0.05

if indTest.pvalue < alpha:
    print("Reject the null")
else:
    print("fail to reject the null")

Reject the null

In [16]:
#Levene Test

stats.levene(df["x1"], df["x2"])

LeveneResult(statistic=7.7015516672169, pvalue=0.012482954069299166)

In [17]:
indTest = stats.ttest_ind(df["x1"], df["x2"], equal_var=False, alternative='two-sided')
indTest

Ttest_indResult(statistic=-2.7669395785560558, pvalue=0.015827284816100885)

# Prozac Data

- Let us consider a simple example of what is often termed "pre/post" data or "pretest/posttest" data. 
- Suppose you wish to test the effect of Prozac on the well-being of depressed individuals, using a standardised "well-being scale" that sums Likert-type items to obtain a score that could range from 0 to 20. 
- Higher scores indicate greater well-being (that is, Prozac is having a positive effect). 
- While there are flaws in this design (e.g., lack of a control group) it will serve as an example of how to analyse such data.

Determine if Prozac enhances well-being in depressed individuals. Use   0.05

In [18]:
df = pd.read_csv("prozac.csv")
df

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6
5        3         9           6
6        2         7           5
7        1        11          10
8        4         8           4

H0: dbar = 0

H1: dbar > 0

In [22]:
depTest = stats.ttest_rel(df["moodpost"], df["moodpre"], alternative='greater')
depTest

Ttest_relResult(statistic=3.1428571428571423, pvalue=0.006872912197394244)

In [21]:
stats.ttest_rel(df["moodpre"], df["moodpost"] , alternative='less')

Ttest_relResult(statistic=-3.1428571428571423, pvalue=0.006872912197394244)

In [23]:
alpha = 0.05

if depTest.pvalue < alpha:
    print("Reject the null")
else:
    print("fail to reject the null")

Reject the null

## One-way ANOVA

In the sample dataset, the variable Sprint is the respondent's time (in seconds) to sprint a given distance, and Smoking is an indicator about whether or not the respondent smokes (0 = Nonsmoker, 1 = Past smoker, 2 = Current smoker). Let's use ANOVA to test if there is a statistically significant difference in sprint time with respect to smoking status. Sprint time will serve as the dependent variable, and smoking status will act as the independent variable.

The null and alternative hypotheses of one-way ANOVA can be expressed as:

H0: µ0 = µ1 = µ2   ("all k population means are equal")

H1: At least one µi different  ("at least one of the k population means is not equal to the others")

In [24]:
survey = pd.read_csv("students_2014.csv")
survey

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,,,,,0,0,72.35,,...,88.24,81.5,60.02,81.44,In state,1,,,7,1
1,20278,1/1/1995,,,,Philosophy,0,0,70.66,179.2,...,89.45,85.25,70.19,73.27,,1,,,5,2
2,20389,12/31/1994,,,,,0,0,70.68,198.52,...,96.73,86.88,71.2,84.24,In state,,,,8,7
3,22820,12/1/1994,,,,business administration,1,0,,198.34,...,74.06,88.68,55.89,73.16,In state,1,,,2,6
4,24559,11/10/1994,,,,,1,1,67.43,128.17,...,82.61,77.3,65.52,80.45,Out of state,1,,,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,34021,7/18/1987,1-Aug-2011,08-May-2017,4,accounting,1,0,,,...,87.72,84.99,65.31,,In state,0,1,18,1,10
431,40697,4/29/1987,1-Aug-2011,09-May-2016,4,,0,0,68.5,131.92,...,91.01,86.87,70.25,82.67,In state,0,3,26,6,15
432,34272,,1-Aug-2011,09-May-2016,4,nursing,0,1,68.1,130.07,...,81.05,85.76,58.16,81.87,,0,3,29,6,10
433,33628,,1-Aug-2011,08-May-2017,4,Nursing,1,1,69.27,157.26,...,75.59,85.97,66.84,79.35,In state,0,1,14,4,10
434,39298,,1-Aug-2011,08-May-2017,4,,1,1,66.68,152.33,...,75.65,77.24,60.24,75.23,In state,0,3,27,2,10

In [25]:
survey["Sprint"] = pd.to_numeric(survey["Sprint"],errors='coerce')
survey["Smoking"] = pd.to_numeric(survey["Smoking"],errors='coerce')

In [27]:
df1 = survey[["Sprint", "Smoking"]].dropna()
df1.head()

   Sprint  Smoking
0   7.978      0.0
1   8.004      0.0
5   4.650      0.0
6   4.750      0.0
8   6.279      0.0

In [28]:
stats.f_oneway(df1[df1["Smoking"] == 0]["Sprint"], df1[df1["Smoking"] == 1]["Sprint"], df1[df1["Smoking"] == 2]["Sprint"])

F_onewayResult(statistic=9.208599845380919, pvalue=0.00012659768158159465)

In [29]:
df1.groupby("Smoking").Sprint.mean()

Smoking
0.0    6.411487
1.0    6.835333
2.0    7.120915
Name: Sprint, dtype: float64