In [3]:
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Hypothesis Tests
1- One Sample t Test

2- Diff Between Means

3- Diff Between Pairs

4- Goodness of Fit Test

5- Homogeneity

6- Independence

7- Regression Slope

### 1- One Sample t Test

##### Example-1
Suppose that a beach is safe to swim if the mean level of lead in the water is 10.0 parts/ million. We assume sigma = 1.5. Water safety is going to be determined by taking 40 water samples and using the test statistic. Sample mean = 10.5, a = 0.05

### Manual Solution

In [6]:
xbar = 10.5
sigma = 1.5
n = 40
mu = 10

##### Hypothesis

In [7]:
# H0 : mu=10
# H1 mu > 10

##### Test Statistic

In [8]:
z = (xbar - mu) / (sigma / np.sqrt(n))
z

2.1081851067789197

##### p-value

In [9]:
p = 1 - stats.norm.cdf(z)
p

0.017507490509831247

### Python Solution

In [ ]:
#stats.ttest_1samp(a, popmean, alternative)
#stats.ttest_1samp(a, 10, alternative= "greater")
# a yerine array yazmak gerek. Yazamadığımız için bu şekilde bıraktık.

#####  Example-2

In [10]:
df = sns.load_dataset("mpg")

In [11]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [14]:
# origin i usa olan arabaların beygir güçlerinin ortalamalarının 110 dan büyük olup olmadığını test edeceğiz.
df[df["origin"] == "usa"]["horsepower"].describe()

count    245.00000
mean     119.04898
std       39.89779
min       52.00000
25%       88.00000
50%      105.00000
75%      150.00000
max      230.00000
Name: horsepower, dtype: float64

In [ ]:
# H0 : mu = 110
# H1 : mu > 110

In [15]:
stats.ttest_1samp(a=df[df["origin"] == "usa"]["horsepower"], popmean=110, alternative="greater")
# veride null değerler var. null değerler olduğu için sonucu nan verdi.

Ttest_1sampResult(statistic=nan, pvalue=nan)

In [16]:
#dropna yaptık
stats.ttest_1samp(a=df[df["origin"] == "usa"]["horsepower"].dropna(), popmean=110, alternative="greater")
# usa menşeili arabaların beygir gücü anlamlı olarak 110'dan yüksektir

Ttest_1sampResult(statistic=3.550044602017898, pvalue=0.0002310035889540432)

##### Example-3

In [17]:
# USA origin arabaların mpglerinin ortalamaları 22 den küçük mü?

In [29]:
# H0 : mu = 22
# H1 : mu < 22

In [19]:
stats.ttest_1samp(a=df[df["origin"] == "usa"]["mpg"], popmean=22, alternative="less")
# e-06 değeri scientific bir değerdir bu  3.89 çarpı 10 üzeri -6 anlamındadır

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=1.9455026028456406e-06)

##### Example-4

In [26]:
# Origini europe olan arabaların ağırlıkları ortalamaları 3000 midir değil midir?

In [27]:
# H0 : mu = 3000
# H1 : mu != 3000

In [28]:
stats.ttest_1samp(a=df[df["origin"] == "europe"]["weight"], popmean=3000, alternative="two-sided")

Ttest_1sampResult(statistic=-9.84610838848352, pvalue=8.80766713530181e-15)

In [31]:
# p < alfa çıktı.Orijini europa olan arabaların ağırlıkları ortalamaları 3000'den farklıdır.

In [ ]:
# sağlamasını yapıyoruz
df[df["origin"] == "europe"]["weight"].mean()

##### Example-5
A department store manager determines that a new billing system will be cost-effective only if the mean monthly account is more than $170.

A random sample of 400 monthly accounts is drawn, for which the sample mean is $178. 
 
The accounts are approximately normally distributed with a standart deviation of $65.

Can we conclude that the new system will be cost-effective?

In [ ]:
# We know population std. So, we will use z-test.

In [ ]:
# H0 : mu=170
# H1 : mu > 170

In [1]:
xbar = 178
sigma = 65
n = 400
mu = 170

In [4]:
z = (xbar - mu) / (sigma / np.sqrt(n))
z

2.4615384615384617

In [5]:
p = 1 - stats.norm.cdf(z)
p

0.006917128192854505

In [ ]:
# P-value = 0.0069
# Significance level(a) = 0.05
# P-value < a -----> Reject the Null
# So it is cost effective to install the new billing system.

##### Example-6
Bon Air ELEM has 1000 students. 

The principal of the school thinks that the average IQ of students at Bon Air is at least 110. 

To prove her point, she administers an IQ test to 20 randomly selected students, the average IQ is 108 with a standart deviation of 10. 

Based on these results, should the principal accept or reject her original hypothesis? a= 0.01

In [6]:
# We dont't know population std. Also our observations sample less than 30. So, we will use t-score.

In [ ]:
# H0 : mu = 110
# H1 : mu < 110

In [7]:
xbar = 108
sigma = 10
n = 20
mu = 110

In [9]:
t = (xbar - mu) / (sigma / np.sqrt(n))
t

-0.8944271909999159

In [13]:
p = stats.t.cdf(t, df= n-1)
p

0.1911420676837155

In [15]:
# P-value = 0.19
# Significance level(a) = 0.01
# P-value > a -----> Fail to Reject the Null
# The principal should accept her original hypothesis

In [5]:
import numpy as np

In [6]:
di = np.array([1.5, 2.3, 4.7, 6.1, -1.2, 2.6, 1.5, -0.4, -2.7, 1.9, 1.1, -1.5])

In [7]:
di.mean()

1.3250000000000002

In [8]:
di.sum()

15.900000000000002